* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #60bbf9, #d7e3f1);
  .input-div {
    width: 50%;
    position: relative;
    .search-input {
      width: 90%;
      height: 30px;
      border-radius: 20px;
      outline: none;
      border: none;
      padding: 20px;
      font-size: 16px;
    }
    button {
      background-color: white;
      border: none;
      position: absolute;
      right: 7%;
      top: 0;
      cursor: pointer;
      border-radius: 50%;

      .fa-search {
        padding: 10px;
        font-size: 16px;
        z-index: 100000;
      }
    }
  }

  .card {
    height: 60vh;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 3%;
    border-radius: 40px;

    display: flex;
    .sky {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px 0 0 40px;
      i {
        font-size: 162px;
        color: #ffc106;
      }
    }
    .information {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 10%;
      border-radius: 0 40px 40px 0;
      span {
        font-size: 25px;
        font-weight: 600;
      }
      h2 {
        padding: 2px 0;
        font-size: 55px;
      }
      p {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.5px;
      }
    }
  }
}

.undf {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 48px;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .input-div {
    width: 90% !important;
  }
  .card {
    width: 90% !important;
    flex-direction: column !important;
    .sky {
      width: 100% !important;
      height: 40% !important;
    }
    .information {
      width: 100% !important;
      height: 50% !important;
    }
    .fa-sun {
      font-size: 100px !important;
    }
  }
  .undf {
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 360px) {
  .card {
    .fa-sun {
      font-size: 70px !important;
    }
    .information {
      span {
        font-size: 20px !important;
      }
      h2 {
        font-size: 35px !important;
      }
      p {
        font-size: 18px !important;
      }
    }
  }
}
